@media only screen and (max-width: 767px) {  
    .about-me {
        margin: 60px auto 85px;
        width: 600px;   
        .author-details {
            width: 100%;
            padding-right: 0px;
            .author-name {
                margin: 0 0 35px;
            }
            .author-sign {
                padding: 35px 0 42px;
            }
        }
    }
}

@media only screen and (max-width: 600px) { 
    .about-me {
        padding: 0 0px;
        width: 100%;
        .section-title h2 {
            font-size: 40px;
            line-height: 45px;
        }
        .author-details {
            padding-left: 40px !important;
            .radius-before:before {
               left: -43px;
            }
            .follow-link {
                span {
                    margin-right: 8px;
                }
                a {
                    margin: 0 3px;
                    font-size: 12px;
                }
            }
        }
    }
    .contact-page {
        width: 94%;
        margin: 0 auto;
        .gmaps-area #gmaps {
            height: 420px;
        }
        .contact-details {
            .col-md-4  {
                width: auto;
            }
        }
        .comment-input-full-width {
            margin: 0;
            .single-field {
                margin: 0 0px 28px !important;
            }
        }
    }

}


@media only screen and (max-width: 430px) {  
    .error-page {
        .error-page-content {            
            width: 300px !important;
            &:before {
                height: 270px;
            }
            .error-page-list {
                padding-left: 45px;
                .error-image {
                    margin-bottom: 70px;
                }
                .error-search {
                    margin-bottom: 55px;
                    width: 250px;
                    .form-controller {
                        width: 190px;
                    }
                }
            }
        }
    }
    .contact-page {
        .section-title h2 {
            font-size: 35px;
            line-height: 40px;
        }
        .gmaps-area #gmaps {
            height: 320px;
        }        
        #contact_form {
            .col-md-6 {
                width: 100%;
            }
        }
    }
}


@media only screen and (max-width: 320px) {  
    .error-page {
        .error-page-content {            
            width: 260px !important;
            &:before {
                top: 9.7em;
            }
            &:after {
                top: 9.7em;
            }
            .error-page-list {
                width: auto !important;            
                .error-search {
                    width: 221px !important;
                    .form-controller {
                        width: 158px !important;
                    }
                }
            }
        }
    }
}