b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
content/data/*.db
npm-debug.log
!/content/themes/petty-v1
!content/themes/petty-v1

node_modules/*
!/node_modules/sqlite3

.idea/*

cqh.md

# 即使git保存了db文件数据，但是提交到服务器中运行，在增加文章，此时git pull 并不能把文章拿下了。只能通过导出文章lib
# 但本地db文章提交上去就还在，不用再创建


