body {
    color: $color__text-main;
    background: $color__white;
    word-wrap: break-word;
    overflow-x: hidden;
}
q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}
blockquote {
	border: 0;
	padding: 0;
	font-size: 23px;
	position: relative;
	overflow: hidden;
	border: 5px solid #eaeaea;
	padding: 25px 45px;
	border-left: 0 none;
	border-right: 0 none;
	&:before {
		content: "";
		position: absolute;
		border-left: 5px solid #eaeaea;
		left: 0;
		top: 0;
		height: 30px;
	}
	&:after {
		content: "";
		position: absolute;
		border-left: 5px solid #eaeaea;
		right: 0;
		bottom: 0;
		height: 30px;
	}
	p {
		margin-bottom: 15px;
		position: relative;
		line-height: 1.5em;
		font-style: italic;
		&:last-of-type {
			margin-bottom: 0 !important;
		}
		cite {
			margin-left: 0;
			padding-left: 0;
		}
		+ footer,
		+ cite {
			margin-top: 15px;
		}
	}
	footer {
		position: relative;
		font-size: 0.60em;
		font-style: italic;
		&:before {
			margin-left: 0 !important;
		}
	}
	cite, a, span {
	    padding: 0;
	    font-size: 80%;
	    font-style: italic;
		font-weight: normal;
		position: relative;
	}
	cite {
		display: block;
	}
	cite::before {
	    content: "";
	    padding-right: 5px;
	}
}
blockquote .small::before,
blockquote footer::before,
blockquote small::before {
	margin-left: 18px;
} 
::-moz-selection {
    color: $color__white;
}

::selection {
    color: $color__white;
}
a {
	color: inherit;
	@include prefixed(transition, color 0.2s ease);
	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
		text-decoration: none;
	}
}
/*--------------------------------------------------------------
# table
--------------------------------------------------------------*/
@import "table";

/*--------------------------------------------------------------
# list
--------------------------------------------------------------*/
@import "lists";


/*--------------------------------------------------------------
# rotates
--------------------------------------------------------------*/
@import "rotates";
