@import "../sass/variables-site/colors";

::-moz-selection {
    background: $color__theme-main;
}

::selection {
    background: $color__theme-main;
}
/* link color */
a {
    &:hover,
    &:focus,
    &:active {
        color: $color__theme-main;
    }
}

.site-header #header-top .header-search .btn-default:hover {
    color: $color__theme-main;
}

.menu-list li {
    &:hover{
        color: $color__theme-main;
    }
    a.active {
        color: $color__theme-main;
    }
    .menu-submenu > li:hover,
    .menu-submenu > li a.active {                    
        > a {
            color: $color__theme-main;
        }
    }
}
.featuare-full-width .owl-carousel .owl-item .item:hover .post-content, 
.featuare-center .owl-carousel .owl-item .item:hover .post-content {
    background: rgba($color__theme-main, 0.75) none repeat scroll 0 0;
}



/*----------- layout two style --------------*/



.layout-five .single-row-col .post-media {                         
    .rotate {                 
        .cat-links {                   
            a {
                &:hover{
                    color: $color__theme-main !important;
                }
            }
        }
    }
}




.contact-page {
    .contact-details {
        .icon-area {
            border-color: $color__theme-main !important;
        }
    }
}



.error-page {
    .error-page-list {
        .error-search {
            .btn-search {
                &:hover i {
                    color: $color__theme-main !important;
                }
            }
        }
        .link-home {
            a {
                &:hover {
                    color: $color__theme-main;
                }
            }            
        }
    }
}



/*----------- single post page --------------*/
.author-info {
    #author-details .post-count {        
        .authors-social a {
            &:hover {
                color: $color__theme-main;
            }
        }
    }
}

/*---------Post Navaigation----------*/
.post-navigation {
    a {
        &:hover {
            color: $color__theme-main;
        }
    }
}


/*---------Related POst----------*/
.related-post {
    .post-body{           
        .cat-links a {
            &:hover {
                color: $color__theme-main;
            }
        }
    }
}
/*----------- hover color--------------*/
.rotate:hover a, .social-link a:hover i, .scroll-top a:hover, .entry-meta span a:hover, .post-text h3:hover a, .more-link:hover, .follow-link a:hover {
    color: $color__theme-main !important;
}
.btn.btn-default:hover {
    background: $color__theme-main;
}

.post-readmore > p:hover a, .paging-navigation li:hover a {
    color: $color__theme-main;
}