input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 0.5em 1em;
    &:focus {
        outline: none;
    }
}
input[type="text"] {
    border: 1px solid #e1e1e1;
}
input[type="submit"] {
    &:focus {
        outline: none;
    }
}
input[type="search"] {
    -webkit-appearance: textfield; 
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent url("images/select-bg.png") no-repeat scroll 95% 50%;
    option[selected] {
        color: $color__white;
    }
}
input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgba($color__black, 0) inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    @include prefixed(transition, background-color 5000s ease-in-out 0s);
}
textarea {
    display: block;
    width: 100%;
    font-size: 0.8em;
    padding-left: 3px;
    display: block;
    &:focus {
        outline: none;
    }
}
input,
select,
textarea {
    margin: 0;
    border: none;
    vertical-align: baseline;
    font-size: 100%;
    font-weight: 400;
    @include prefixed(transition, all 0.25s ease);
}

/* Placeholder Color */
::-webkit-input-placeholder { 
  //color: $color__meta;
}
:-moz-placeholder { 
  //color: $color__meta;
  opacity: 1;
}
::-moz-placeholder {
  //color: $color__meta;
  opacity: 1;
}
:-ms-input-placeholder {
  //color: $color__meta;
}

.comment-input-full-width p.single-field input, 
p.single-field .form-controller, 
.comment-form  p input, 
.comment-form p .form-controller {
    border-bottom: 1px solid $details__border_bottom !important;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    //font-size: 12px;
    padding: 5px 15px;
    width: 100%;
    max-width: 100%;
}
.comment-input-full-width {
    margin: 0 -5px;
    .single-field {
        margin: 0 5px 28px !important;
    }
}

.comment-form p.form-submit input {
    width: auto !important;
}
.form-submit {
    text-align: center;
    margin-top: -5px;      
}
.comment-reply-title small {
    display: block;
    margin-top: 10px;
}
.form-control {
    box-shadow: 0 0 0 transparent !important;
    border-radius: 0;
}

/* Post password Form */
.post-password-form {
    label {
        margin-bottom: 0;
    }
    input[type="password"] {
        font-size: 11px;
        border: 1px solid $color__border-one;
        outline: none;
        height: 45px;
    }
    input[type="submit"] {
        padding: 7px 15px;
        position: relative;
        top: 1px;
        height: 45px;
        background: #000;
        color: $color__white;
        font-weight: bold;
    }
}