.widget {
	margin-bottom: 75px;
	position: relative;
	&:last-child {
		border-bottom: none;
	}
	select {
		width: 100%;
		border: 1px solid #e1e1e1;
		padding: 0.4em 0.8em;
		outline: none;
	}
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	ul li {
		border-bottom: 1px solid #e1e1e1;
	}
	p {
		font-family: $font__body;
	}
	.widget-content {
		position: relative;
		overflow: hidden;
	}
	pre {
		padding: 0.5em
	}
	label {
		margin-bottom: 0;
		display: inline;
	}
	option {
		padding: 0.2em 1em;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		padding: 0.5em 1em;
		&:focus {
		 	box-shadow: none !important;
		}
	}
}