{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}
<!--Content Area    
================================================-->
<div id="content" class="site-content error-page">
    <div class="container">
        <div class="row">
            <div class="error-page-content">
                <div class="error-page-list">
                    <div class="error-image">
                        <img class="img-responsive" alt="Error Image" src="{{asset "images/404.png"}}">
                    </div> <!--/.error-image-->                    
                    <div class="link-home radius-before">
                        <a href="{{@blog.url}}">go to home page</a>
                    </div><!--/.link home-->  
                </div><!--/.error page content-->
            </div>  
        </div> <!--/.row-->
    </div> <!--/.container-->
</div> <!--/.error page-->

