{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

<!-- Featured Area
================================================== -->
{{#is "home"}}
    {{> "featured-loop"}}
{{/is}}


<!--Content Area    
================================================-->
<div id="content" class="site-content">
    <div id="post-container" class="container">
        <div class="row">
            <div class="post-layout-column col-md-10 col-md-offset-1">
                <div id="primary" class="layout-one">
                    <main id="main" class="site-main">
                    {{#foreach posts}}
                        {{#if featured}}
                            {{> "loop-one"}}                            
                        {{/if}}
                    {{/foreach}}

                    {{#foreach posts}}
                        {{#unless featured}}
                            {{!^has tag="sticky"}}
                                {{> "loop-one"}}
                            {{!/has}}                              
                        {{/unless}}
                    {{/foreach}} 
                                                                       
                    </main><!--/.site main-->
                </div><!--/.layout one-->
            </div><!--/.col-md-10-->
            
            {{! Previous/next page links - displayed on every page }}
            {{pagination}}
                        
        </div><!--/.row-->
    </div><!--/.container-->
</div><!--/.site contant-->

<script>
    var main_post_style = getUrlParameter('post_style');

    if ( main_post_style ) {
        var Post_layOut = main_post_style;
    } else {
        if (typeof( theme_post_style ) != "undefined") {
            var Post_layOut = theme_post_style ;
        } else {
            var Post_layOut = 1;
        }
    }

    if ( Post_layOut == 1 ) {

        $('.post-style-one').removeClass('hidden');
        $('.post-style-two, .post-style-three, .post-style-four, .post-style-five').html('');
       

    } else if ( Post_layOut == 2 ) {

        $('.post-style-two').removeClass('hidden');
        $('.post-style-one, .post-style-three, .post-style-four, .post-style-five').html('');
        $('#primary').removeClass('layout-one').addClass('layout-two');
        $('.post-layout-column').removeClass('col-md-10 col-md-offset-1').addClass('col-md-12');

    } else if ( Post_layOut == 3 ) {

        $('.post-style-three').removeClass('hidden');
        $('.post-style-one, .post-style-two, .post-style-four, .post-style-five').html('');
        $('#post-container').removeClass('container').addClass('container-fluid');
        $('#primary').removeClass('layout-one').addClass('layout-four');
        $('.post-layout-column').removeClass('col-md-10 col-md-offset-1').addClass('col-md-12');
        $(".post-style-three:nth-child(even) .style-three-image").addClass("col-md-push-5");
        $(".post-style-three:nth-child(even) .style-three-post").addClass("col-md-pull-7");

    } else if ( Post_layOut == 4 ) {
        
        $('.post-style-four').removeClass('hidden');
        $('.post-style-one, .post-style-two, .post-style-three, .post-style-five').html('');
        $('#primary').removeClass('layout-one').addClass('layout-seven');
        $(".post-style-four:nth-child(odd) .style-four-image").addClass("col-md-push-6");
        $(".post-style-four:nth-child(odd) .style-four-post").addClass("col-md-pull-6");

    } else if ( Post_layOut == 5 ) {

        $('.post-style-five').removeClass('hidden');
        $('.post-style-one, .post-style-two, .post-style-three, .post-style-four').html('');
        $('#primary').removeClass('layout-one').addClass('layout-eight clearfix');
        $('.post-layout-column').removeClass('col-md-10 col-md-offset-1');
        var all_post = $('#main .col-md-4.col-sm-6.single-post.grid');
        all_post.wrapAll("<div id='masonry-layout' class='row'></div>");

    } else {
        $('.post-style-one').removeClass('hidden');
        $('.post-style-two, .post-style-three, .post-style-four, .post-style-five').html('');
    }
</script>