{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! This bellow code is for loading header aria}}
{{> "header"}}

{{! This code to show Post in single page }}
{{#post}}

<!--Content Area    
================================================-->
<div id="content" class="site-content about-me">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="about-me-content">
                    <div class="section-title">
                        <h2>{{title}}</h2>
                    </div><!--/.section title-->
                    {{#if image}}
                    <div class="author-image">
                        <img src="{{image}}" alt="{{title}}">
                    </div><!--/.author image-->
                    {{/if}}
                    
                    <div class="author-details">
                        <div class="author-name">
                            <span></span>
                        </div>
                        <div class="entry-content">
                            {{content}}
                        </div>
                        <div class="author-sign radius-before"></div>
                        <div class="follow-link radius-before"><span>Follow me : </span></div>
                    </div><!--/.author details-->
                </div><!--/.about me content-->
            </div>      
        </div> <!--/.row-->
    </div> <!--/.container-->
</div> <!--/.about me-->
{{/post}}
