/*--------------------------------------------------------------
# Featured Style One
--------------------------------------------------------------*/
.featuare-area {    
     text-align: center;
    .owl-carousel {
        margin: 0 auto;
        padding: 27px 0 16px;
        width: 95%;
        .owl-item {
            float: left;
            .item {                
                img {
                    width: 100%;
                }
            }
        }
        .owl-nav {
            .owl-prev {             
                position: absolute;
                &:before {
                    background-color: $color__border-one;
                    content: "";
                    height: 57px;
                    left: 10px;
                    position: absolute;
                    top: 23px;
                    width: 1px;
                }
                div {
                    position: relative; 
                    letter-spacing: 10px;
                    text-transform: capitalize;
                    -webkit-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                        transform: rotate(-90deg);                    
                    -webkit-transform-origin: left top 0;
                    -ms-transform-origin: left top 0;
                        transform-origin: left top 0;
                    font-size: 18px;
                }
            }
            .owl-next {             
                position: absolute;
                &:before {
                    background-color: $color__border-one;
                    content: "";
                    height: 57px;
                    position: absolute;
                    right: 14px;
                    top: -155px;
                    width: 1px;
                }
                div {
                    position: relative; 
                    letter-spacing: 10px;
                    text-transform: capitalize;
                    -webkit-transform: rotate(90deg) translateX(100%);
                    -ms-transform: rotate(90deg) translateX(100%);
                        transform: rotate(90deg) translateX(100%);
                    -webkit-transform-origin: right top 0;
                    -ms-transform-origin: right top 0;
                        transform-origin: right top 0;
                    top: -4.3em;
                    font-size: 18px;
                }             
            }
        }
    }           
}
#featuared .owl-carousel {
    .item {       
        .post-thumb-img {
            padding-top: 135%;
        }
    }    
}
.featuare-full-width .owl-carousel, 
.featuare-center .owl-carousel {    
    .owl-item {
        .item {     
            position: relative;
            .post-thumb {
                position: relative;
            }
            .post-content { 
                color: $color__white;
                display: none;   
                padding: 20px;
                overflow: hidden;
                position: absolute;
                text-align: left;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 99;             
            }

            &:hover .post-content {
                display: block;
                .cat-links {
                    text-transform: capitalize;
                    color: $color__white;
                    a {
                        position: relative;
                        padding-right: 7px;
                        color: $color__white;
                        &:before {
                            background-color: $color__featuard;
                            bottom: 0;
                            content: "";
                            height: 1px;
                            left: 0;
                            position: absolute;
                            width: 94%;
                            -webkit-transition: all 0.15s ease 0s;
                                    transition: all 0.15s ease 0s;
                        }
                        &:hover {
                            color: $color__white;                            
                        }
                        &:hover:before {
                            width: 100%;
                        }
                    }
                }
                .bottom-content {
                    bottom: 20px;
                    right: 20px;
                    left: 20px;
                    overflow: hidden;
                    position: absolute;
                    .entry-title {
                        font-size: 20px;
                        font-weight: bold;
                        color: $color__white;
                        line-height: 30px;
                        letter-spacing: 0.025em;
                        margin-bottom: 5px;
                        &:hover a {
                            border-bottom: 1px dotted $color__white;
                        }
                    }
                    .entry-meta {
                        margin-bottom: 5px;
                        color: $color__white;
                        .entry-date:before {
                            content: "\f017";
                            font-family: FontAwesome;
                            margin-right: 5px;
                        }
                        .author.vcard:before, 
                        .author-name:before {
                            content: "\f007";
                            font-family: FontAwesome;
                            margin-right: 5px;
                        }
                        span {
                            display: inline-block;
                            margin-right: 15px;
                            position: relative;
                            font-size: 14px;
                            &.author a {
                                padding: 0px;
                                //font-size: 14px;
                                color: $color__white;
                            }
                        }
                        .author a {
                            display: inline;
                            color: $color__white;
                            &:hover {
                                color: $color__white !important;
                            }
                        }
                    }
                }
            }
        } 
    }
}

/*--------------------------------------------------------------
# Full width featured
--------------------------------------------------------------*/
.featuare-full-width {   
    .owl-nav {
        .owl-prev {
            left: -50px;
        }
        .owl-next {
            right: -50px;
        }             
    }
    .featuare-bottom {
        padding: 70px 0 46px;        
    }
}
/*--------------------------------------------------------------
# Center featured
--------------------------------------------------------------*/
.featuare-center { 
    .featuare-title {
        padding: 57px 0 70px;
    }
    #featuare-center{
        margin: 0 auto!important;
        width: 66.6%;
        .owl-prev {
            left: -12%;      
        }
        .owl-next {
            right: -12%;      
        }
    }
    .featuare-bottom {
        padding: 87px 0 20px;
    }
}

/*--------------------------------------------------------------
# Featured Style Three (Header Top Featured) 
--------------------------------------------------------------*/
#header-featured.owl-carousel{
    overflow: hidden;
    .featuare-single-post {
        overflow: hidden;
        .post-thumb-img {
            position: relative;
        }
    }
    .owl-stage-outer .owl-stage {
        .owl-item:nth-child(2n-1) .item .featuare-single-post {
            -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            .post-thumb-img {
                padding-top: 151.3%;
            }
            .rotate {
                padding-top: 17.8em;
                &:before {
                    background-color: transparent !important;
                    content: "" !important;
                    width: 0 !important;
                }
                .cat-links {
                    top: 14.8em;  
                    -webkit-transform: rotate(90deg);  
                        -ms-transform: rotate(90deg);  
                            transform: rotate(90deg);
                        -webkit-backface-visibility: hidden;
                                backface-visibility: hidden;
                        -webkit-transform-origin: left center 0; 
                                transform-origin: left center 0;   
                    a {
                        position: absolute;
                        -webkit-font-smoothing: subpixel-antialiased;
                        -webkit-transform: translateZ(0) translateX(-50%);  
                            -ms-transform: translateZ(0) translateX(-50%);  
                                transform: translateZ(0) translateX(-50%);
                         -webkit-backface-visibility: hidden;
                                 backface-visibility: hidden;
                        &:before {
                            background: #909090;
                            content: "";
                            height: 239px;
                            left: -118px;
                            position: absolute;
                            top: -107px;
                            bottom: 0;
                            right: 0;
                            -webkit-transform: rotate(90deg) translateZ(0);
                                    transform: rotate(90deg) translateZ(0);
                            width: 1px;
                            -webkit-backface-visibility: hidden;
                                    backface-visibility: hidden;
                        }
                    }          
                }
            }
            .post-text {
                padding: 0 5% 0 10%;
                bottom: 1em;
            } 
        }
        .owl-item:nth-child(2n) .item .featuare-single-post {
            .post-thumb-img {
                padding-top: 75.56%;                    
            }
            .rotate {
                padding-top: 17.8em;
                &:before {
                    background-color: transparent !important;
                    content: "" !important;
                    width: 0 !important;
                }
                .cat-links {
                    top: 9.2em;
                    -webkit-transform: rotate(90deg);  
                        -ms-transform: rotate(90deg);  
                            transform: rotate(90deg);  
                        -webkit-transform-origin: left center 0; 
                                transform-origin: left center 0;
                    a {
                        position: absolute;
                        -webkit-font-smoothing: subpixel-antialiased;
                        -webkit-transform: translateZ(0) translateX(-50%);  
                            -ms-transform: translateZ(0) translateX(-50%);  
                                transform: translateZ(0) translateX(-50%);
                        -webkit-backface-visibility: hidden;
                                backface-visibility: hidden;
                        &:before {
                            background: #909090;
                            content: "";
                            height: 113px;
                            left: -55px;
                            position: absolute;
                            top: -44px;
                            width: 1px;
                            -webkit-transform: rotate(90deg) translate3d( 0, 0, 0);
                                    transform: rotate(90deg) translate3d( 0, 0, 0);
                            -webkit-backface-visibility: hidden;
                                    backface-visibility: hidden;
                        }
                    }
                }
            }
            .post-text {
                padding: 0 5% 0 22%;
                bottom: 1em;
            }  
        }
    }
}
#featuared #header-featured{
    .item {
        .featuare-single-post {
            position: relative;  
            .post-details {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                .background-overlay {            
                    width: 100%;
                    height: 100%;
                    .rotate {
                        .cat-links {
                            letter-spacing: 4px;
                            left: 45px;
                            z-index: 999;
                            font-size: 16px;
                        }
                    }
                    .post-text {
                        position: absolute;                         
                        width: 100%;
                        a {
                            display: inline-block;
                            font-size: 11px;
                            text-transform: capitalize;
                            margin:0 10px 5px 0
                        }
                        .entry-title {
                            font-weight: 700;
                            line-height: 28px;                            
                            font-size: 20px;
                            a {
                                font-size: inherit;
                                &:hover {
                                    border-bottom: 0px none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#featuared #header-featured .item .featuare-single-post {
    &:hover {
        .cat-links a {
            color: $color__white !important;
            &:before {
                background: $color__white !important;
            }
        }
        .post-text a {
            color: $color__white !important;
        }
        .post-text h3 {
            color: $color__white !important;
            a {
                color: inherit;
                @include prefixed (transition, all 0.2s ease);
                &:hover {
                    color: $color__white !important;
                }
            }
        }
    }
    .post-details{
        background-color: rgba(255, 255, 255, 0.8);
        @include prefixed (transition, background 0.25s ease-in);            
        .post-text {
            a {
                color: #292929;
            }
            h3 {
                color: #414141;
            }
        }
    }
}
/*--------------------------------------------------------------
# responsive full width featured
--------------------------------------------------------------*/
@media only screen and (min-width:1000px) {
    .featuare-full-width {          
        .owl-nav {
            .owl-prev {
                bottom: 28.2%;
            }
            .owl-next {
                bottom: 29%;             
            }
        }
    }
}
@media only screen and (max-width:999px) {
    .featuare-full-width {          
        .owl-nav {
            .owl-prev {
                bottom: 29.8%;
            }
            .owl-next {
                bottom: 26%;             
            }
        }
    }
}

@media only screen and (max-width:800px){
    .featuare-full-width {    
          filter: alpha(opacity=100);    
          filter: alpha(opacity=80);         
        .owl-nav {
            display: none;
        }
        	
		.owl-controls .owl-dots {
			text-align: center;
			margin-top: 20px;
		}		
		.owl-controls .owl-dot {
			display: inline-block;
		}		
		.owl-controls .owl-dot span {
            background: #a0a0a0;
            border-radius: 0;
            display: block;
            height: 7px;
            margin: 5px 7px;
            width: 15px;
            opacity: 0.8;
            filter: alpha(opacity=80);
		}
		.owl-controls .owl-dot span:hover,
		.owl-controls .owl-dot.active span {
			opacity: 1;
			filter: alpha(opacity=100);
		}
    }
    .featuare-full-width .featuare-bottom {
        padding: 30px 0;
    }
}
/*--------------------------------------------------------------
# responsive center featured
--------------------------------------------------------------*/
@media only screen and (min-width:1200px){
    .featuare-center {          
        .owl-nav {
            .owl-prev {
                bottom: 27.2%;
            }
            .owl-next {
                bottom: 32%;             
            }
        }
    }
}

@media only screen and (max-width:1199px){
    .featuare-center {          
        .owl-nav {
            .owl-prev {
                bottom: 32%;
            }
            .owl-next {
                bottom: 20%;
            }
        }
    }
}

@media only screen and (max-width:991px){
    .featuare-center {          
        .owl-nav {
            .owl-prev {
                bottom: 31.3%;
            }
            .owl-next {
                bottom: 22%;
            }
        }
    }
}

@media only screen and (max-width:767px){
    .featuare-title h4 {
        padding: 0 20px !important;
    }
    .featuare-center {          
        .owl-nav {
            .owl-prev {
                bottom: 19.8%;
            }
            .owl-next {
                bottom: 44.3%;             
            }
        }
    }
}

@media only screen and (max-width:766px){
    .featuare-center {    
          filter: alpha(opacity=100);    
          filter: alpha(opacity=80); 
        .owl-nav {
            display: none;
        }
        	
		.owl-controls .owl-dots {
			text-align: center;
			margin-top: 20px;
		}		
		.owl-controls .owl-dot {
			display: inline-block;
		}		
		.owl-controls .owl-dot span {
			background: #a0a0a0;
			border-radius: 0;
			display: block;
			height: 7px;
			margin: 5px 7px;
			width: 15px;
			opacity: 0.8;
			filter: alpha(opacity=80);
		}
		.owl-controls .owl-dot span:hover,
		.owl-controls .owl-dot.active span {
			opacity: 1;
			filter: alpha(opacity=100);
		}
    }
    .featuare-center .featuare-bottom {
        padding: 27px 0 20px;
    }
}

@media only screen and (max-width:600px){
    #header-featured.owl-carousel {
        .post-text > h3 a {
            font-size: 16px !important;
            line-height: 20px;
        }
        .owl-item:nth-child(2n-1) .item .featuare-single-post .rotate .cat-links {
            top: 9.8em;
        }
        .owl-item:nth-child(2n) .item .featuare-single-post .rotate:before {
            height: 50px;
        }
        .owl-item:nth-child(2n) .item .featuare-single-post .rotate .cat-links {
            top: 2.7em;
        }
        .owl-item:nth-child(2n-1) .item .featuare-single-post .rotate:before {
            height: 150px;
        }
        .owl-item:nth-child(2n-1) .item .featuare-single-post .rotate span {
            top: 7.5em;
        }
        .item .featuare-single-post .post-details .background-overlay .rotate span {
            letter-spacing: 4px !important;
        }
    } 
}

@media only screen and (max-width:480px){
     #header-featured.owl-carousel {
        .post-text > h3 a {
            font-size: 22px !important;
            line-height: 27px;
        }
        .owl-item:nth-child(2n-1) .item .featuare-single-post .post-thumb-img {
            padding-top: 135%;
        }
        .owl-item:nth-child(2n) .item .featuare-single-post .post-thumb-img {
            padding-top: 67.5%;
        }
        .owl-item:nth-child(2n-1) .item .featuare-single-post .rotate:before {
            height: 295px;
        }
        .owl-item:nth-child(2n-1) .item .featuare-single-post .rotate .cat-links {
            top: 20.3em;
        }
        .owl-item:nth-child(2n) .item .featuare-single-post .rotate .cat-links {
            top: 9.2em;
        }
        .owl-item:nth-child(2n) .item .featuare-single-post .rotate:before {
            height: 140px;
        }
    }    
}
@media only screen and (max-width:430px) {
    #header-featured {
        display: none;
    }
}