.instagram-area {
    margin: 75px 0 60px;
    .instagram-content {
        border-top: 1px solid #ebebeb;      
        padding-top: 30px;
    }
    .instagram-title {
        text-align: center;
        h6 {
            text-transform: uppercase;
            font-family: $font__spcial;
            margin-bottom: 15px;
            font-size: 12px;
            letter-spacing: 0.15em;
            font-weight: bold;
        }
    }
    #instafeed {
        text-align: center;
    }
    #instafeed .list {
        width: 11% !important;
        padding: 4px;
        display: inline-block;
        @media only screen and (max-width: 992px) {
            width: 10.5% !important;
        }           
        @media only screen and (max-width: 767px) {
            width: 22% !important;
        }
    }
}
#footer-top {
    overflow: hidden;
    margin-top: 75px;
    .full-width-content {
        float: none;
        margin: auto;
    }
    .widget {
        margin-top: 45px;
        .widget-title-area {
            text-align: center;
            &:before {
                border: 0 none;
                position: relative;
                padding: 0;
            }
            .widget-title {
                font-family: $font__spcial;
                font-size: 13px;
                font-weight: normal;
                top: 0;
                text-transform: uppercase;
            }
        }
    }
}
.site-footer {
    .footer-widget-content {
        //padding: 87px 0 20px;
        position: relative;
        p {
            font-size: 15px;
            margin-bottom: 0;            
        }
    }
    .widget-area {
        .widget {
            margin: 60px 0;
        }
    }
    .col-md-4 {
        .follow-link {
            width: 50%;
            float: left;
            text-align: left;
        }
    }
    .col-md-12 {
        .follow-link {
            width: auto;
            float: none;
            margin-right: 10px;
        }
    }
    .static_widget { 
        padding-top: 110px;
        padding-bottom: 45px;
        .widget {
            margin-bottom: 0;
            .widget-title {
                text-transform: capitalize;
                position: relative;
                display: inline-block;
                font-weight: bold;
                &:before {
                    width: 56px;
                    height: 1px;
                    position: absolute;
                    content: "";
                    right: auto;
                    background: #000;
                    top: 18px;
                    left: -60px;
                }
            }
        }  
        .rotate {
            position: absolute !important;
           .rotate-text {
                //top: 32px !important;
           } 
        }  
        &.petty-widget-left {
            padding-left: 38px;
            .rotate {                
                left: 0;
                &:before{
                    right: -16px;
                }
                .rotate-text {
                    -webkit-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                        transform: rotate(90deg);
                    -webkit-transform-origin: left top 0;
                    -ms-transform-origin: left top 0;
                        transform-origin: left top 0;
                    right: 1px;
                }
            }
            .widget-title {
                &:before {
                    top: 15px !important;
                    left: -65px !important;
                    right: auto !important;
                }
            }
        }        
        &.petty-widget-right {
            text-align: right;
            padding-right: 38px;
            .rotate {                
                right: 0;
                @media only screen and (max-width: 767px) {
                    left: 0;
                }
                &:before{
                    right: -16px;
                }
                .rotate-text {
                    -webkit-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                    -webkit-transform-origin: right top 0;
                    -ms-transform-origin: right top 0;
                        transform-origin: right top 0;
                    left: 1px;
                }
            }
            .widget-title {
                &:before {
                    top: 15px !important;
                    left: auto !important;
                    right: -65px !important;
                }
            }
        }
        .textwidget {
            padding-top: 75px;
        }
    }
    .petty-widget-middel.static_widget {
        padding-top: 0;
        padding-bottom: 0;
        @media only screen and (min-width: 992px) {
            margin-top: 30px;
        }
        .widget {
            padding-top: 45px;
            padding-bottom: 45px;
            margin-bottom: 0;
            text-align: center;
        }
        .social-link {
            margin-bottom: 12px;
            a {
                padding: 0 9px;
                color: #000;
            }
        }
    }
    /*----------- scroll top --------------*/
    .scroll-top {
        padding: 30px 0;
        a {
            display: inline-block;
            span {
                display: block;
                font-size: 11px;
                letter-spacing: 3px;
                line-height: 26px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
}
.site-footer {
    background-color: $color__footer-bg;
    .footer-widget-content {
        color: $color__widget-text;
        .widget {
            .rotate {          
                &:before {
                    background-color: $color__border-one;
                }
            }            
        }
    }
    .scroll-top{
        color: $color__widget-text; 
    }
}

/*----------- responsive footer --------------*/


@media only screen and (max-width:766px) {
    .site-footer .footer-widget-content .petty-widget-right, 
    .site-footer .footer-widget-content .petty-widget-left {
        .widget-content {
          padding-top: 0px;
        }
    }
    .site-footer {
        .petty-widget-left.static_widget {
            padding-left: 15px !important;
            .rotate {
                left: 0;
                margin: auto;
                position: static;
                right: 0;
                text-align: center;
                &:before {
                    width: 0px ;
                }
                .rotate-text {
                    -webkit-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                            transform: rotate(0deg);
                    left: 0 !important;
                    top: 0 !important;
                }
                .widget-title {
                    font-weight: 700;
                    margin-bottom: 15px;
                }
            }
        }
        .petty-widget-right.static_widget {
            padding-right: 15px !important;
            .rotate {  
                position: static;
                &:before {
                    width: 0px ;
                }
                .rotate-text {
                    -webkit-transform: rotate(0deg) !important;
                        -ms-transform: rotate(0deg) !important;
                            transform: rotate(0deg) !important;
                }
                .widget-title {
                    font-weight: 700;
                    margin-bottom: 15px;
                }
            }
        }
        .static_widget {
            padding-top: 45px;
            padding-bottom: 0;
            aside.widget {
                text-align: center;
                padding-bottom: 30px !important;
                padding-top: 30px !important;
            }
            .textwidget {
                padding-top: 30px !important;
            }
        }
    }
}

@media only screen and (max-width:550px) {
    .site-footer {
        .footer-widget-content {
            .col-md-4 {
                width: 100% !important;
            }
        }
    }
}