
<!--Instagram Area    
================================================-->
<div id="instagram" class="instagram-area hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="instagram-content">
                    <div class="instagram-title">
                        <h6>Instagram</h6>
                    </div><!--/.instafeed title-->
                    <div id="instafeed"></div> <!--/.instafeed content-->
                </div><!--/.instagram conten-->
            </div><!--/.col-md-10-->
        </div><!--/.row-->
    </div><!--/.container-->
</div><!--/#instagram-->


<!--Footer    
================================================-->
<footer id="colophon" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="footer-widget-content clearfix"> 
               
                <!--Petty Widget Left--> 
                <div class="col-md-4 col-sm-4 col-xs-6 petty-widget-left static_widget">
                    <aside class="widget hidden">
                        <div class="rotate">
                            <h2 class="rotate-text widget-title">Contact</h2>
                        </div> <!--/.rotate--> 
                        <div class="textwidget"></div><!--/.widget content-->
                    </aside><!--/.widget-->
                </div> <!--/.petty widget left-->
                
                <!--Petty Widget Middel-->
                <div class="col-md-4 col-sm-4 col-xs-6 petty-widget-middel static_widget">
                    <aside class="widget">
                        <div class="textwidget">                        
                            <div class="social-link hidden"></div>                      
                            <div class="copyright">
                                <p>Copyright &copy; 2016 by <strong>GhostExpert</strong> <br> Made with love by <strong>Travelia</strong></p>
                            </div><!--/.widget content-->
                        </div>
                    </aside><!--/.widget-->
                </div> <!--petty widget middel-->
                
                <!--Petty Widget Right-->
                <div class="col-md-4 col-sm-4 col-xs-6 petty-widget-right static_widget">
                    <aside class="widget hidden">
                        <div class="rotate">
                            <h2 class="rotate-text widget-title">Location</h2>       
                        </div><!--/.rotate-->                         
                        <div class="textwidget"></div><!--/.widget content-->
                    </aside><!--/.widget-->
                </div> <!--petty widget right-->         
            </div><!--/.footer widget content-->
            
            <!--scroll top-->
            <div class="col-md-12">
                <div class="scroll-top text-center">
                    <a href="#">
                        <i class="fa fa-chevron-up"></i>
                        <span>back to top</span>
                    </a>
                </div><!--scroll top-->
            </div><!--/.col-md-12-->
        </div><!--/.row-->
    </div><!--/.container-->
</footer><!--/.site footer-->