// Initial color
$color__white: #ffffff;			   // White
$color__black: #000000;			   // black
$color__topmenu-bg: #262626;	   // topmenu text color
$color__mainmenu_bg: #fafafa;	   // mainmenu background
$color__background-main: #ffffff;  // Post area background
$color__footer-bg: #f6f6f6;  	   // Footer area background
$color__home-slider-bg: #E73C4F;   // slider area background

$color__semi_black: #181818;		// Semi Black


//Text color
$color__text-main: #737373; 		// body text main color
$color__featuard: #ededed; 		    // featuard color
$color__heading-one: #232323; 		// Heading color one
$color__heading-two: #434343; 		// Heading color two
$color__mainmenu-text: #000000;		// MainMenu text color
$color__topmenu-text: #ffffff;		// topmenu text color
$color__widget-text: #454545;		// Widget text color
$color__rotate-text: #3f3d3d;		// rotate text color
$color__rotate-text-two: #777777;	// rotate text color
$color__section-title: #696969;     // section title
$color__more-link: #404040;		    // more link

//hover color
$hover__color-one: #27C9CF;
$hover__color-two: #96cac6;

//border color
$color__menu-border: #dddddd; 		// border menu
$color__border-one: #646464; 		// border one
$color__border-two: #909090; 		// border two
$color__border-three: #C9C9C9; 		// border three
$featuare__border-overlay: #ffe1d6; // featuare border 
$details__border_bottom: #E1E1E1;   // one post border

//Theme and other color
$color__theme-main: #9bc6b2;  		// hover color

