$font__spcial: 'Montserrat', sans-serif;
$font__body: 'Josefin Sans', sans-serif;

$base__font-size: em(16px);
$heading__one: 2.841em;
$heading__two: 2.625em;
$heading__three: 1.25em;
$heading__four: 1.375em;
$heading__five: 1.125em;
$heading__six: 0.85em;
$font__small: 0.75em;

$font__line-height-body: 1.45em;
$font__line-height-heading: 1.45em;
$font__line-height-paragraph: 1.75em; 
